<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= bootstrap_form_tag(url: sessions_path, layout: :horizontal, control_col: "col-sm-12") do |f| %>
					<%= f.text_field :email, placeholder: 'Email', required: true, icon: "user", hide_label: true %>
					<%= f.password_field :password, placeholder: 'Password', required: true, icon: "lock", hide_label: true %>
					<%= f.submit "Sign In", class: "btn btn-block btn-success" %>
				<% end %>
			</div>
		</div>
	</div>
</div>