<div class="row">
	<div class="col-sm-6">
		<p class="form-control-static">
			<%= f.hidden_field :course_subject_id %>
			<%= f.hidden_field :institute_id %>
			<%= f.object.course_subject.title %>
		</p>
	</div>
	<div class="col-sm-6">
		<%= f.select :teacher_id, options_from_collection_for_select(current_account.teachers.active, "id", "name_with_employee_number"), prompt: "Please select a teacher", hide_label: true, label_col: "", control_label: "col-sm-12" %>
	</div>
</div>