<div class="row">
	<div class="col-sm-6">
		<%= f.input :name, placeholder: 'Group Name' %>
	</div>

	<div class="col-sm-6">
		<%= f.association :class_teacher, label: 'Class Teacher', collection: current_account.people.teacher, prompt: 'Select Class Teacher' %>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<%= f.input :start_date, placeholder: 'Start Date', as: :date_picker %>
	</div>
	<div class="col-sm-6">
		<%= f.input :end_date, placeholder: 'End Date', as: :date_picker %>
	</div>
</div>
