<div class="row">
	<div class="col-sm-4">
		<%= f.input :name, placeholder: 'Group Name' %>
	</div>
	<div class="col-sm-4">
		<%= f.input :start_date, placeholder: 'Start Date', as: :string, icon: "calendar", input_html: { value: format_date(f.object.start_date),data: { provide: 'datepicker' } } %>
	</div>
	<div class="col-sm-4">
		<%= f.input :end_date, placeholder: 'End Date', as: :string, icon: "calendar", input_html: { value: format_date(f.object.end_date),data: { provide: 'datepicker' } } %>
	</div>
</div>
