// @import "bootswatch/paper/variables";
// @import "bootstrap_custom";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
// @import "bootswatch/paper/bootswatch";

@import "bootstrap-datepicker3";
@import "layout";