<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">About this course</h3>
	</div>

	<div class="panel-body">
		<strong>
			<%#= @course_session.course.name %>
			ok
		</strong>
	</div>
	<ul class="list-group">
	  <li class="list-group-item">
	  	<span class="badge"><%#= @course_session.start_date.to_formatted_s(:rfc822) %></span>
	  	Start Date
	  </li>
	  <li class="list-group-item">
	  	<span class="badge"><%#= @course_session.end_date.to_formatted_s(:rfc822) %></span>
	  	End Date
	  </li>
	  <li class="list-group-item">
	  	<span class="badge"><%#= @course_session.students.count %></span>
	  	Currently registered students
	  </li>
	</ul>
</div>