<div class="row">
	<div class="col-sm-12">
		<% flash.each do |key, value| %>
			<div class="message-<%= key %>" role="alert">
			  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			  <%= value %>
			</div>
		<% end %>
	</div>
</div>